/* start- footer */
footer{
    color: var(--text-color);
    background: #99A3A4;
    width: 100%;
    text-align: center;
    position: fixed;
    padding: 20px 20px 20px 20px;
    bottom: 0;
            /* Height of the footer*/
    height: 60px;
}
.footer{
  padding-top: 5%;
}

/* start- table */
h1{
  font-size: 30px;
  color: #000;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
  }
h3{
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding-bottom: 1%;
}
table{
  width:100%;
  table-layout: fixed;
  height: 100%;
}
  .tbl-header{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .tbl-header-item{
    background: #D5D8DC ;
    box-shadow: #E5E8E8 0px 13px 30px -5px, #E5E8E8 0px 8px 16px -8px;

  }
  .tbl-content{
    height:600px;
    overflow-x:auto;
    padding-top: 2%;
    margin-top: 0px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;  
  }
  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color:(--text-color);
    font-weight: bold;
    text-transform: uppercase;
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border-bottom: solid 10px rgba(255,255,255,0.1);
  }
  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;

    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    color:(--text-color);
    border-bottom: solid 10px rgba(255,255,255,0.1);
  }

  .tr-hover:hover{
    background-color: #D6DBDF;
    border-style: solid;
    border-color: #ABB2B9;
    border-width: 3px;
}

  
  
  /* demo styles */
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
  body{
    font-family: 'Roboto', sans-serif;
  }
  
  
  /* follow me template */
  .made-with-love {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-size: 10px;
    font-family: arial;
    color: #fff;
  }
  .made-with-love i {
    font-style: normal;
    color: #F50057;
    font-size: 14px;
    position: relative;
    top: 2px;
  }
  .made-with-love a {
    color: #fff;
    text-decoration: none;
  }
  .made-with-love a:hover {
    text-decoration: underline;
  }
  
  
  /* for custom scrollbar for webkit browser*/
  
  ::-webkit-scrollbar {
      width: 6px;
  } 
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  } 
  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 10px #5DADE2; 
  }

  /* btn table */
  .t-btn-edit{
    border: none;
    font-family: sans-serif;
    font-size: 17px;
    background: transparent;
    color: #006bb3;
    border: solid 1px rgba(0, 107, 179, 0.2);
    padding: 10px;
    border-radius: 4px;
    transition-duration: 0.2s;
   }
   
   .t-btn-edit:before {
    content: "»";
    opacity: 0;
    margin-left: -15px;
    transition-duration: 0.2s;
   }
   
   .t-btn-edit:hover:before {
    margin-left: 0px;
    opacity: 1;
   }
   
   .t-btn-edit:hover {
    color: black;
    background: rgba(0, 0, 0, 0.02);
    border: solid 1px gainsboro;
   }

   .t-btn-delete{
    border: none;
    font-family: sans-serif;
    font-size: 17px;
    background: transparent;
    color: #006bb3;
    border: solid 1px rgba(0, 107, 179, 0.2);
    padding: 10px;
    border-radius: 4px;
    transition-duration: 0.2s;
   }
   
   .t-btn-delete:before {
    content: "»";
    opacity: 0;
    margin-left: -15px;
    transition-duration: 0.2s;
   }
   
   .t-btn-delete:hover:before {
    margin-left: 0px;
    opacity: 1;
   }
   
   .t-btn-delete:hover {
    color: #E74C3C;
    background: rgba(0, 0, 0, 0.02);
    border: solid 1px gainsboro;
   }

   /* section table */
.sec1{
    padding: 0 4%;
    padding-top: 7%; 
}
.sec1 h1{
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.sec2{
    padding: 0 4%;
    padding-top: 4%;
}
.sec2-2{
  padding: 0 4%;
  padding-top: 1%;
}
.sec2-btn{
  padding-left: 1100px;
  padding-top: 3%;
  padding-bottom: 1%;
}
.sec-login{
  padding: 0 4%;
  padding-top: 7%; 
}


/* add button */
.t-graybtn{
  padding-left: 100%;
  display: inline-block;
  padding: 10px 25px;
  color: var(--bg-color);
  background: var(--main2-color);
  font-size: 14px;
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  border-radius: 5px;
  border: 2px solid var(--main2-color);
  margin-right: 20px;
  transition: all ease .55s;
}
.t-graybtn:hover{
  background: transparent;
  border: 2px solid var(--main-color);
  color: var(--main-color); 
}

.form-add{
  margin: auto;
  width: 800px;
  max-width: 80%;
}
.form-add a{
  margin-left: 80%;
  width: 150px;
}
.form-add label{
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.form-add-in{
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0,0,0,.3);
}
.form-add-incsv{
  margin: auto;
  width: 60%;
  padding-top: 2%;
  padding-bottom: 2%;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0,0,0,.3);
}
.form-label input{
  text-transform:uppercase;
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  width: 100%;
  height: 40px;
  background: white;
  border-radius: 4px;
  border: 1px solid silver;
  margin: 10px 0 18px 0;
  padding: 0 10px;
}
.form-label textarea{
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform:uppercase;
  width: 100%;
  height: 100px;
  background: white;
  border-radius: 4px;
  border: 1px solid silver;
  margin: 10px 0 18px 0;
  padding: 0 10px;
}
.form-t-graybtn{
  padding-left: 90%;
}

.btn-incsv{
 padding-top: 1%;
 margin-left: 82%;
}


/* file-drop*/
.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 170px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
  background: #eee;
  border-color: #111;
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}

.drop-label{
  padding-left: 3%;
  padding-right: 3%;
}

.box-container{
  background: var(--second-color);
  padding: 200px 40px;
  padding-right: 20px;
  border-radius: 1rem;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  transition: all ease .55s;
  cursor: pointer;
}
.box-container h3{
  padding-top: 1%;
  color: #34495E;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 3px;
}
.box-container h5{
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: var(--text-color);
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 4px;
}

.login-form{
  margin: auto;
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  padding: 50px 40px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.login-form h1{
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
.login-form label{
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding-left: 10px;
  padding-top: 2%;
  font-weight: 500;

}
.login-form input{
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding-left: 10px;
  height: 60px;
  width: 100%;
  padding: 0 15px;
  font-size: 17px;
  margin-bottom: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}