{% extends 'baseindex.html' %}

{% block title %} Add Storage Page {% endblock %}

{% block header %} Add New Item {% endblock %}

{% block body %}
<div class="sec2">
    <div class="sec1">
        <h1>Adding Items FORM</h1>
    </div>

    <div class="form-add">
        <form action="inputStorage" method="post" autocomplete="off" class="form-add-in">
            <a class="t-graybtn" href="{{ url_for ('viewStorage')}}">View Record</a>
            
            <div class="form-label">
                <label>ID Item:</label>
                <input type="text" name="id_storage" required>
            </div>

            <div class="form-label">
                <label>Environment:</label>
                <input type="text" name="env_storage" required>
            </div>

            <div class="form-label">
                <label>Details:</label>
                <input type="text" name="detail_storage" >
            </div>

            <div class="form-label">
                <label>Quantity:</label>
                <input type="number" name="quantity_storage" >
            </div>

            <div class="form-label">
                <label>Remarks:</label>
                <textarea name="remark_storage"></textarea>
            </div>

            <div class="form-label">
                <button class="h-btn" type="submit" name="submit">Submit</button>&nbsp;
                <button class="t-graybtn" type="reset">Reset All</button>
            </div>
        </form>
    </div>
</br>
</div>    
{% endblock %}