
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
    <!-- boxicons -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- google fonts(museo moderno) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;300;400;500;600;700;800;900&family=Philosopher:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="top-header">
        <a href="https://www.analog.com/en/about-adi.html" class="logo"><i class='bx bx-play-circle' ></i>ADI.Penang</a>
        
        <ul class="navlist">
            <li><a href="{{ url_for ('homepage')}}" class="active">Homepage</a></li>
            <li><a href="#" class="#">About</a></li>
            <li><a href="#" class="#"></a></li>
            <li><a href="#" class="#"></a></li>
        </ul>

        {% if request.path == url_for('homepage') %}
        <div class="h-main">
            <a href="{{ url_for ('logout')}}" class="h-btn">Log Out</a> 
            {% endif %}     
            <div class="bx bx-menu" id="menu-icon"></div>
            <div id="darkmode"></div>
        </div>
    </div>
    {% block body %}

    
    {% endblock %}
    <!-- footer -->
    <div class="footer"></div>
    <footer> 
        <li>©2023 ADI Penang- Trim & Probe Inventory System <a style="color:#5DADE2">|</a> All rights reserved <a style="color:#5DADE2">|</a> This websystem was made by Akhtar N. Afif (Intern)</li>
    </footer>
    </div>
    <!-- script -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="{{ url_for('static', filename='script/script.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>

