{% extends 'baseindex.html' %}

{% block title %} Add Storage Page {% endblock %}

{% block header %} Add New Item {% endblock %}

{% block body %}
<div class="top-header">
    <a href="https://www.analog.com/en/about-adi.html" class="logo"><i class='bx bx-play-circle' ></i>ADI.Penang</a>
    
    <ul class="navlist">
        <li><a href="{{ url_for ('baseindex')}}" class="active">Homepage</a></li>
        <li><a href="#" class="#">About</a></li>
        <li><a href="#" class="#"></a></li>
        <li><a href="#" class="#"></a></li>
    </ul>

    <div class="h-main">    
        <div class="bx bx-menu" id="menu-icon"></div>
        <div id="darkmode"></div>
    </div>
</div>

    <div class="sec2">
        <div class="sec1">
            <h1>Edit Items Details</h1>
        </div>

        <div class="form-add">
            <form class="form-add-in" action="{{ url_for ('editStorageProcess')}}" method="post">
                <a class="t-graybtn" href="{{ url_for ('viewStorage')}}">View Record</a>

                <div class="form-label">
                    <label>ID Item:</label>
                    <input type="hidden" name="no_storage" value="{{ data.no_storage}}">   
                    <input type="hidden" name="id_storage" value="{{ data.no_storage}}">
                    <h3>{{ data.id_storage }}</h3>   
                </div>

                <div class="form-label">
                    <label>Environment:</label>
                    <input class="form-text" type="text" name="env_storage" id="env_storage" value="{{ data.env_storage }}">
                </div>

                <div class="form-label">
                    <label>Details:</label>
                    <input class="form-text" type="text" name="detail_storage" id="detail_storage" value="{{ data.detail_storage }}">
                </div>

                <div class="form-label">
                    <label>Quantity:</label>
                    <input class="form-text" type="text" name="quantity_storage" id="quantity_storage" value="{{ data.quantity_storage }}">
                </div>

                <div class="form-label">
                    <label>Remarks:</label>
                    <textarea class="form-textarea" name="remark_storage" id="remark_storage">{{ data.remark_storage }}</textarea>
                </div>

                <div class="form-label">
                    <button class="h-btn" type="submit" name="submit">Confirm</button>&nbsp;
                    <button class="t-graybtn" href="{{ url_for ('viewStorage')}}">Cancel</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}