{% extends 'baseindex.html' %}

{% block title %} User Manual Guide  {% endblock %}

{% block header %} User Manual Guide {% endblock %}

{% block body %}
<div class="top-header">
    <a href="https://www.analog.com/en/about-adi.html" class="logo"><i class='bx bx-play-circle' ></i>ADI.Penang</a>
    
    <ul class="navlist">
        <li><a href="{{ url_for ('baseindex')}}" class="active">Homepage</a></li>
        <li><a href="#" class="#">About</a></li>
        <li><a href="#" class="#"></a></li>
        <li><a href="#" class="#"></a></li>
    </ul>

    <div class="h-main">    
        <div class="bx bx-menu" id="menu-icon"></div>
        <div id="darkmode"></div>
    </div>
</div>

<div class="sec2">
    <div class="sec1">
        <h1>User Manual Guide</h1>
    </div>

    <div class="sec2">
        <div class="box-container">
            <h3>Generate Report in Excel- '.xls format'</h3>
            <h5>Lorem ipsum dolor sit amet. Est quibusdam inventore sit itaque autem est dolorem atque rem molestiae eveniet nam facilis eligendi sed aliquid molestiae ea soluta quaerat. Ut quisquam similique cum consequatur dolorem eum reprehenderit neque. Sit illum libero ut corporis consequatur sit molestiae temporibus eum quidem saepe vel galisum eius et ipsam quae.</h5>
            <h5>Et consequatur corrupti ut soluta voluptatem in quod facilis est omnis ipsum est velit pariatur et dolor ratione aut provident voluptatem. Et provident velit id Quis beatae est asperiores exercitationem qui rerum libero. Sed vitae molestiae qui reprehenderit nobis non amet aperiam est voluptas numquam? Aut porro cumque eum dolorum dolores ea quidem reprehenderit et voluptate autem.</h5>
        </div>
    </div>
    
    <div class="sec2">
        <div class="box-container">
            <h3>Add item- Add Manually</h3>
            <h5>Lorem ipsum dolor sit amet. Est quibusdam inventore sit itaque autem est dolorem atque rem molestiae eveniet nam facilis eligendi sed aliquid molestiae ea soluta quaerat. Ut quisquam similique cum consequatur dolorem eum reprehenderit neque. Sit illum libero ut corporis consequatur sit molestiae temporibus eum quidem saepe vel galisum eius et ipsam quae.</h5>
            <h5>Et consequatur corrupti ut soluta voluptatem in quod facilis est omnis ipsum est velit pariatur et dolor ratione aut provident voluptatem. Et provident velit id Quis beatae est asperiores exercitationem qui rerum libero. Sed vitae molestiae qui reprehenderit nobis non amet aperiam est voluptas numquam? Aut porro cumque eum dolorum dolores ea quidem reprehenderit et voluptate autem.</h5>
        </div>
    </div>

    <div class="sec2">
        <div class="box-container">
            <h3>Add item- Add Automatically</h3>
            <h5>Before proceed submiting the excel file, make sure the excel file is '.csv'.</h5>
            <h5>'.xlsx/ .xls' format is unreadable to database.</h5>
            <h5>Save your Excel file as '.csv' and make sure the format of data inside the file is default</h5>

            <h3>Reminder</h3>
            <h5>Save as '.csv'</h5>
            <h5>Data in the file must be in default format</h5>
            <h5>Data in the file cannot be Null/blank, use something such as 'na' to represent Null/blank</h5>
            <h5>The websystem will (skip/not read) header of the file. If one of your data missing, means one of your data is header of the file</h5>
        </div>
    </div>

</div>

{% endblock %}