    {% extends 'baseindex.html' %}
        {% block title %} Menu Page {% endblock %}



    {% block body %}
    <!-- start-flash message -->
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    
                        {{ message }}
                        
                {% endfor %}
            {% endif%}
        {% endwith %}
    <!-- end-flash message -->
    <div class="top-header">
        <a href="https://www.analog.com/en/about-adi.html" class="logo"><i class='bx bx-play-circle' ></i>ADI.Penang</a>
        
        <ul class="navlist">
            <li><a href="{{ url_for ('baseindex')}}" class="active">Homepage</a></li>
            <li><a href="#" class="#">About</a></li>
            <li><a href="#" class="#"></a></li>
            <li><a href="#" class="#"></a></li>
        </ul>

        <div class="h-main">
            <a href="#" class="h-btn">logout</a>      
            <div class="bx bx-menu" id="menu-icon"></div>
            <div id="darkmode"></div>
        </div>
    </div>

    <section class="hero">
        <div class="hero-text">
            <h1>InventorySystem</h1>
            <h4>Trim & Probe - {{session.username}}</h4>
            <p>Inventory System is a websystem that holds and track items data in storage including incoming items.  </p>
            <div class="hero-in">
                <a href="{{ url_for ('viewIncoming')}}">
                <div class="box">
                    <h3>Incoming Items</h3>
                    <h5>View Record</h5>
                    <img src="{{ url_for('static', filename='img/inventory.png')}}" width = "80" height = "60">
                </div>
                </a>

                <a href="{{ url_for ('viewStorage')}}">
                <div class="box">
                    <h3>Tracking Item</h3>
                    <h5>View Record</h5>
                    <img src="{{ url_for('static', filename='img/stock.png')}}" width = "80" height = "60">
                </div>
                </a>

                <a href="{{ url_for ('guide')}}">
                <div class="box">
                    <h3 >Guide</h3>
                    <h5>User Manual</h5>
                    <img src="{{ url_for('static', filename='img/manual.png')}}" width = "70" height = "70">
                </div>
                </a>
            </div>
        </div>

        <div class="hero-img">
            <img src="{{ url_for('static', filename='img/mainpic.png')}}">
        </div>
    </section>
    {% endblock %}