<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Logins</title>



</head>
<body>
        <h1>User Login</h1>

    <form action="{{ url_for('loginprocess') }}" method="POST">
        {% if msg is defined and msg %}
            <div>{{ msg }}</div>
        {% endif %}
        <input type="text" name="username" placeholder="Username" required id="">
        <input type="password" name="password" placeholder="Password" required id="">
        <button type="submit">Log in</button>
    </form>
</body>
</html>