{% extends 'baseindex.html' %}

{% block title %} Peripheral's Record {% endblock %}

{% block header %} - Record List of Peripherals {% endblock %}

{% block body %}

{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %} 
            <li class="{{ category }}">{{ message }}</li>    
            {% endfor %}
        {% endif%}
    {% endwith %}
    
<div class="sec2">
    <div class="sec1">
       <h1>SPARE-PART TRACKING</h1>
    </div>

    <div class="sec2-btn">
        <a class="h-btn" href="{{ url_for ('export_reportStorage')}}">Generate Report in Excel Format</a>&nbsp;
        <a class="t-graybtn" href="{{ url_for ('addStorage')}}">Add Manually!</a> 
        <a class="t-graybtn" href="{{ url_for ('csvStorage')}}">Add Automatically!</a>
    </div>

    <form method="GET">
        <div class="">
            <label for="search">Search by id_storage:</label>
            <input type="text" name="search" id="search" value="{{ search }}">
        </div>
        <button type="submit">Search</button>
    </form>
        
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>No</th>
                    <th>ID ITEMS</th>
                    <th>Environment</th>
                    <th>DETAILS</th>
                    <th>QTY</th>
                    <th>REMARK</th>
                    <th>EDIT/DELETE</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="sec2-2">
    <div class="tbl-content">
         <table cellpadding="0" cellspacing="0" border="0">
            <tbody id="tableBody">
                {% for recordstorage in data %}   
                <tr class="tr-hover">  
                    <th>{{ loop.index }}</th> 
                    <td>{{ recordstorage.id_storage }}</td>
                    <td>{{ recordstorage.env_storage }}</td> 
                    <td>{{ recordstorage.detail_storage }}</td>  
                    <td>{{ recordstorage.quantity_storage }}</td>  
                    <td>{{ recordstorage.remark_storage }}</td> 
                    <td>
                        <a class="t-btn-edit" href="{{ url_for('editStorage', no_storage= recordstorage.no_storage) }}">Edit</a> 
                        <a class="t-btn-delete" href="{{ url_for('deleteStorage', no_storage= recordstorage.no_storage) }}" onclick="return confirm('Delete this data?')">Delete</a>
                    </td>   
                </tr> 
                {% endfor %} 
            </tbody> 
        </table>
    </div>
</div>
{% endblock %}
