{% extends 'baseindex.html' %}

{% block title %} Peripheral's Record {% endblock %}

{% block header %} - Record List of Peripherals {% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                
                     {{ message }}
                    
            {% endfor %}
        {% endif%}
    {% endwith %}
    <div class="top-header">
        <a href="https://www.analog.com/en/about-adi.html" class="logo"><i class='bx bx-play-circle' ></i>ADI.Penang</a>
        
        <ul class="navlist">
            <li><a href="{{ url_for ('baseindex')}}" class="active">Homepage</a></li>
            <li><a href="#" class="#">About</a></li>
            <li><a href="#" class="#"></a></li>
            <li><a href="#" class="#"></a></li>
        </ul>
    
        <div class="h-main">    
            <div class="bx bx-menu" id="menu-icon"></div>
            <div id="darkmode"></div>
        </div>
    </div>
    
<div class="sec2">
    <div class="sec1">
       <h1>SPARE-PART TRACKING</h1>
    </div>

    <div class="sec2-btn">
        <a class="h-btn" href="{{ url_for ('export_reportStorage')}}">Generate Report in Excel Format</a>&nbsp;
        <a class="t-graybtn" href="{{ url_for ('addStorage')}}">Add Manually!</a> 
        <a class="t-graybtn" href="{{ url_for ('csvStorage')}}">Add Automatically!</a>
    </div>
        
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>No</th>
                    <th>ID ITEMS</th>
                    <th>Environment</th>
                    <th>DETAILS</th>
                    <th>QUANTITY</th>
                    <th>REMARK</th>
                    <th>EDIT/DELETE</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="sec2-2">
    <div class="tbl-content">
         <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                {% for recordstorage in data %}   
                <tr class="tr-hover">  
                    <th>{{ loop.index }}</th> 
                    <td>{{ recordstorage.id_storage }}</td>
                    <td>{{ recordstorage.env_storage }}</td> 
                    <td>{{ recordstorage.detail_storage }}</td>  
                    <td>{{ recordstorage.quantity_storage }}</td>  
                    <td>{{ recordstorage.remark_storage }}</td> 
                    <td>
                        <a class="t-btn-edit" href="{{ url_for('editStorage', no_storage= recordstorage.no_storage) }}">Edit</a> 
                        <a class="t-btn-delete" href="{{ url_for('deleteStorage', no_storage= recordstorage.no_storage) }}" onclick="return confirm('Delete this data?')">Delete</a>
                    </td>   
                </tr> 
            </tbody> 
            {% endfor %} 
        </table>
    </div>
</div>
{% endblock %}